{% extends "core/base.html" %}

{% block tweet-content %}
<div class="row">
    <div class="col-md-12">
        <div class="nav color">
            <h2>
            Tweet column
                <div class="pull-right">
                    <a href="{% url 'tweets:tweet_new' %}">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </a>
                </div>
            </h2>
        </div>
    </div>
</div>
{% if tweet %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-thumbnail tweet_image" src="{{tweet.profile.profile_pic}}">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            Posted by:{{tweet.profile.user.username}}
                            Posted on: {{tweet.posted_on}}
                            {% if tweet in current_profile.tweet_set.all%}
                            <div class="pull-right">
                                <a href="{% url 'tweets:tweet_edit' tweet.pk%}">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <h4>{{tweet.heading}}</h4>
                        {{tweet.content}}
                        <a href="#"><h4>{{tweet.hashtag}}</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <h4> No tweets found.</h4>
{% endif %}
{% endblock tweet-content%}

