
<div class="panel panel-default">
Create New Tweet
    <div class="pull-right">
        <a href="{% url 'users:tweet_new' %}">
            <i class="fa fa-plus-square"></i>
        </a>
    </div>
</div>
{% for tweet in user_profile.tweet_set.all %}
<div class="card card-inverse card-primary text-xs-center">
    <div class="container">
        <div class="card-block" id="card-block">
            <h4 class="card-title">
                {{tweet.heading}}
                    <button class="btn btn-primary btn-xs">
                        Retweet
                    </button>
                    <a href="{% url 'users:tweet_edit' tweet.pk %}">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'users:tweet_delete' tweet.pk %}">
                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </a>
            </h4>
            <blockquote class="card-blockquote">
                <p>{{tweet.content}}</p>
                <footer>
                    Posted by: {{tweet.profile.user.username}}
                    Posted on:{{tweet.posted_on}}
                </footer>
            </blockquote>
        </div>
        <div class="card-block" id="card-block">
            <img class="responsive" src="{{tweet.profile.profile_pic}}">
        </div>
    </div>
    <hr>
</div>
{% endfor %}
