{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Twitter Clone
        {% endblock title %}
    </title>
    <!-- bootswatch theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" >


    <script src="https://use.fontawesome.com/a04d9e4c1c.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'core:index' %} " class="navbar-brand">
                    <i class="fa fa-home" aria-hidden="true">Home</i>
                </a>
                <a href="{% url 'core:index' %} " class="navbar-brand">
                    <i class="fa fa-bell" aria-hidden="true">Notifications</i>
                </a>
                <a href="{% url 'core:index' %} " class="navbar-brand">
                    <i class="fa fa-envelope" aria-hidden="true">Messages</i>
                </a>
                <a href="{% url 'core:index' %} " class="navbar-brand">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search" action="{% url 'users:user_detail' user.pk %}" >
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Find user">
                        </div>
                        <button class="btn btn-default">Search</button>
                    </form>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'users:user_edit' request.user.pk %}">Hello, {{request.user.username}}</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a> </li>
                    {% else %} 
                    <li><a href="{% url 'accounts:login' %}">Login</a> </li> 
                    <li><a href="{% url 'accounts:register' %}">Sign Up</a> </li> 
                    {% endif %} 

                </ul>
            </div>
        </div>
    </nav>
{% block content%}

{% endblock %}
    <div class="container">
        <div class="profile-content">
        <div class="{% block content_classes %}main-content{% endblock content_classes%}">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        </div>
        
            <div class="content">
                {% block profile-content %}
                    
                {% endblock profile-content%}
            </div>
            
        </div>
        <div class="tweet-content">
            <div class="content">
                {% block tweet-content %}
                  
                {% endblock tweet-content%}
            </div>
            
        </div>
        <div class="users-content">
            <div class="content">
                {% block users-content %}
                  
                {% endblock users-content%}
            </div>
            
        </div>
    </div>
    <footer class="page-footer">
        <hr>
        <div class="container">
            &copy; Awesome Inc U. Bootcamp 2016
        </div>
    </footer>

<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>