.container{
    display: flex;
}
.profile-content{
    width:20%;
    margin:5px;
    padding: 5px;
    float: left;
    overflow: scroll;
}
.tweet-content{
    width: 60%;
    margin:5px;
    padding: 5px;
    float: left;
    overflow: scroll;
}
.users-content{
    width: 20%;
    height:550px;
    margin:5px;
    padding: 5px;
    float: left;
    overflow: scroll;
}

.responsive{
    width: 70px;
    height: 70px;
}