<div class="card ">
    <div class="card-block">
        <h4 class="card-title">
            {{current_profile.user.username}}
        </h4>
        <h6 class="card-subtitle text-muted">
            (My profile block)
        </h6>
    </div>
        <img class="responsive" src="{{current_profile.profile_pic}}" alt="Card image">
    <div class="card-block">
        <p class="card-text">
            {{current_profile.bio |truncatechars:25}}
        </p>
        <a href="{% url 'users:user_detail' current_profile.user.pk %}" class="card-link">
            View Your Page
        </a>
        <div class="row">
            <div class="col-xs-4">
                Tweets
            </div>
            <div class="col-xs-4">
                Followers
            </div>
            <div class="col-xs-4">
                Following
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4">
                {{current_profile.tweet_set.count}}
            </div>
            <div class="col-xs-4">
                {{current_profile.following.count}}
            </div>
            <div class="col-xs-4">
                {{current_profile.followed_by.count}}
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
    <div class="row">
    <div class="col-md-12">
        <div >
            <h5>Following</h5>
                {% for a in follows %}
                {% if a %}
                        <a href="{% url 'users:user_detail' a.pk%}" >
                            <img class="responsive-list" src="{{a.profile_pic}}">
                        </a>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div >
            <h5>Followers</h5>
                {% for a in follower %}
                {% if a %}
                        <a href="{% url 'users:user_detail' a.pk%}" >
                            <img class="responsive-list" src="{{a.profile_pic}}">
                        </a>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</div>
    </div>
</div>

