{% extends "core/base.html" %}

{% block user-content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default profile_block">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail profile_pic" src="{{profile.profile_pic}}" alt="Profile Pic">
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                {{profile.user.username}}
                            </div>
                            <div class="row">
                                {% if request.user not in profile %}
                                {% if request.user.profile in follower %}
                                    <form action="{%url 'users:unfollow' profile.pk%}" method="POST">
                                    {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">
                                        Unfollow
                                        </button>
                                    </form>
                                {%else%}
                                    <form action="{%url 'users:follow' profile.pk%}" method="POST">
                                    {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">
                                        Follow
                                        </button>
                                    </form>
                                {%endif%}
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row profile">
                <div class="col-md-12">
                    <div class="col-md-4 ">
                    Tweets
                    </div>
                    <div class="col-md-4">
                        Following
                    </div>
                    <div class="col-md-4">
                        Followers
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row profile">
                <div class="col-md-12">
                    <div class="col-md-4">
                    {{profile.tweet_set.count}}
                    </div>
                    <div class="col-md-4">
                        {{profile.following.count}}
                    </div>
                    <div class="col-md-4">
                        {{profile.followed_by.count}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <h5>Following</h5>
                {% for a in follows %}
                {% if a %}
                        <a href="{% url 'users:user_detail' a.pk%}" >
                            <img class="img-thumbnail profile_pic" src="{{a.profile_pic}}">
                        </a>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <h5>Followers</h5>
                {% for a in follower %}
                {% if a %}
                        <a href="{% url 'users:user_detail' a.pk%}" >
                            <img class="img-thumbnail profile_pic" src="{{a.profile_pic}}">
                        </a>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</div>
{% endblock user-content%}
<div class="row">
    <div class="col-md-12">
        <div class="nav color">
            <h2>
            Tweet column
                <div class="pull-right">
                    <a href="{% url 'tweets:tweet_new' %}">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </a>
                </div>
            </h2>
        </div>
    </div>
</div>

{% block tweet-content %}
{% if tweets %}
<div class="row">
    <div class="col-md-12">
        {% for tweet in tweets %}
        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-thumbnail tweet_image" src="{{tweet.profile.profile_pic}}">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            Posted by:{{tweet.profile.user.username}}
                            Posted on: {{tweet.posted_on}}
                            {% if tweets in current_profile.tweet_set%}
                            <div class="pull-right">
                                <a href="{% url 'tweets:tweet_edit' tweet.pk%}">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <h4>{{tweet.heading}}</h4>
                        {{tweet.content}}
                        <a href="{%url 'tweets:tweet_detail' tweet.pk%}"><h4>{{tweet.hashtag}}</h4></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <h4> No tweets found.</h4>
{% endif %}
{% endblock tweet-content%}

