{% extends "core/base.html" %}
{% block user-content %}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default profile_block">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'users:user_detail' current_profile.pk%}">
                        <img class="img-thumbnail profile_pic" src="{{current_profile.profile_pic}}" alt="Profile Pic">
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    {{current_profile.user.username}}
                    <div class="row profile">
                        <div class="col-md-12">
                            <div class="col-md-4 ">
                            Tweets
                            </div>
                            <div class="col-md-4">
                                Following
                            </div>
                            <div class="col-md-4">
                                Followers
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row profile">
                        <div class="col-md-12">
                            <div class="col-md-4">
                            {{current_profile.tweet_set.count}}
                            </div>
                            <div class="col-md-4">
                                {{current_profile.following.count}}
                            </div>
                            <div class="col-md-4">
                                {{current_profile.followed_by.count}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if profiles %}

<div class="row">
    <div class="col-md-12">
        {% for profile in profiles %}
            <div class="panel panel-default user_list">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{% url 'users:user_detail' profile.pk%}" >
                            <img class="img-thumbnail user_pic" src="{{profile.profile_pic}}">
                        </a>
                    </div>
                    <div class="col-md-6">
                        {{profile.user.username}}
                        <br>
                        {% if profile in followed_profiles %}
                            <form action="{%url 'users:unfollow' profile.pk%}" method="POST">
                            {% csrf_token %}
                                <button type="submit" class="btn btn-primary">
                                Unfollow
                                </button>
                            </form>
                        {%else%}
                            <form action="{%url 'users:follow' profile.pk%}" method="POST">
                            {% csrf_token %}
                                <button type="submit" class="btn btn-primary">
                                Follow
                                </button>
                            </form>
                        {%endif%}
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>

{% endif %}
{% endblock user-content%}


{% block tweet-content %}
{% if tweets %}
<div class="row">
    <div class="col-md-12">
        {% for tweet in tweets %}
        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-thumbnail tweet_image" src="{{tweet.profile.profile_pic}}">
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            Posted by:{{tweet.profile.user.username}}
                            Posted on: {{tweet.posted_on}}
                            {% if tweet in current_profile.tweet_set.all%}
                            <div class="pull-right">
                                <a href="{% url 'tweets:tweet_edit' tweet.pk%}">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <h4>{{tweet.heading}}</h4>
                        {{tweet.content}}
                        <a href="{%url 'tweets:tweet_detail' tweet.pk%}"><h4>{{tweet.hashtag}}</h4></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
    <h4> No tweets found.</h4>
{% endif %}
{% endblock tweet-content%}

